#movableCat {
  position: absolute;
  touch-action: none; /* タッチ操作を無効にして画像を自由に動かせるようにする */
  cursor: grab; /* 画像を掴むためのカーソル表示 */
}

html, body {
  overflow: hidden;
}

body {
  font-family:
    'Noto Sans JP',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.progress-circle {
  background-color: var(--bs-green);
  color: var(--bs-white);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.distance {
  font-size: 4rem;
  font-weight: bold;
}

.unit {
  font-size: 1rem;
}

.message {
  font-size: 1rem;
}

.filtered-cat {
  max-width: 300px;
  max-height: 300px;
  filter: blur(20px);
}

.button {
  min-height: 56px;
  width: 80%;
  background-color: var(--bs-green);
  border: none;
  color: var(--bs-white);
  cursor: pointer;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.cat-container {
  min-height: 60vh;
}

.full {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.layer-1 {
  position: absolute;
  z-index: 1;
  object-fit: cover;
}

.layer-2 {
  z-index: 2;
  pointer-events: auto; /* クリックイベントを有効にする */
}

.layer-3 {
  position: absolute;
  z-index: 3;
  pointer-events: none; /* 透明部分をクリック可能にする */
  object-fit: cover;
}

.picture-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 300px;
}

.cats > img {
  max-width: 100px;
  max-height: 100px;
}

.picture > img {
  max-width: 100px;
  max-height: 100px;
}

#video {
  max-width: 100%;
  max-height: 100%;
}

.photo {
  z-index: 4;
  background-color: rgba(25, 135, 84, 0.7); /* 暗めの色 (黒) と透過 (50%) */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photo-button {
  min-height: 56px;
  border: none;
  color: var(--bs-white);
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

#home-button {
  min-height: 56px;
  width: 80%;
  border: none;
  color: var(--bs-white);
  cursor: pointer;
  position: fixed;
  left: 20%;
  transform: translateX(-50%);
}

.h-flex {
  display: flex;
  justify-content: space-around;
}

.camera-button {
  width: 60px;
  height: 60px;
}


/* ハンバーガーボタン */
.hamburger {
  display: block;
  height: 60px;
  margin-left: auto;
  position: relative;
  z-index: 10;
  width: 60px;
  border: none;
  background-color: transparent;
}
.hamburger.-active .hamburger__line {
  background-color: transparent;
}
.hamburger.-active .hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger.-active .hamburger__line::after {
  top: 0;
  transform: rotate(-45deg);
}
.hamburger.-active .hamburger__text::before {
  content: "閉じる";
}
.hamburger__line {
  display: block;
  height: 2px;
  position: absolute;
  top: 23px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  background-color: #172e59;
  transition: 0.4s;
}
.hamburger__line:before,
.hamburger__line:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #172e59;
  transition: inherit;
}
.hamburger__line:before {
  top: -6px;
}
.hamburger__line:after {
  top: 6px;
}
.hamburger__text {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.hamburger__text::before {
  content: "メニュー";
  text-align: center;
  color: #172e59;
  font-size: 10px;
  font-weight: 900;
}
.header__nav-area {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 9;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  padding-top: 60px;
  background-color: #fff;
  transition: 0.4s;
}
.header__nav-area.-active {
  left: 0;
  visibility: visible;
}
.global-navigation {
  padding-top: 40px;
  padding-right: 25px;
  padding-bottom: 120px;
  padding-left: 25px;
}
.global-navigation__list > li {
  padding-bottom: 20px;
  border-bottom: 2px solid #e7e9ee;
}
.global-navigation__list > li + li {
  margin-top: 20px;
}
.global-navigation__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #172e59;
  font-weight: 900;
  transition: color 0.4s;
  font-size: 1.5rem;
}
.global-navigation__link.-accordion {
  position: relative;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 0;
}
.global-navigation__link.-accordion::after {
  content: "";
  display: block;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 2px;
  background-color: #ed3242;
  transform: translateY(-50%);
  transition: transform 0.4s;
}
.global-navigation__link.-accordion::before {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  background-color: #ed3242;
  transform: translateY(-50%);
}
.global-navigation__link.-active::after {
  transform: translateY(-50%) rotate(-90deg);
}
.accordion {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.4s;
}
.accordion.-active {
  height: auto;
  padding-top: 30px;
  visibility: visible;
}
.accordion__list li {
  font-size: 0.75rem;
}
.accordion__list li + li {
  margin-top: 21px;
}
.accordion__link {
  color: #172e59;
}